.navbar {
    width: 120rem;
    height: 7.5rem;
    margin: auto;
  }
  
  .icon {
    width: 20rem;
    float: left;
    height: 7rem;
  }
  
  .logo {
    color: white;
    font-size: 3.5rem;
    font-family: Arial;
    padding-left: 2rem;
    float: left;
    padding-top: 1rem;
    margin-top: 0.5rem;
  }
  
  .menu {
    width: 40rem;
    float: left;
    height: 7rem;
  }
  
  ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 6.2rem;
    margin-top: 2.7rem;
    font-size: 1.4rem;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover {
    color: #ff7200;
  }